@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Inter', sans-serif;
    -webkit-tap-highlight-color: transparent;
    /* Prevent overscroll bounce on mobile */
    overscroll-behavior: none;
}

.safe-bottom {
    padding-bottom: env(safe-area-inset-bottom);
}

.safe-top {
    padding-top: env(safe-area-inset-top);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
